.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sm{
    width: 30px;
    height: 30px;
}
.med{
    width: 50px;
    height: 50px;
}
.lg{
    width: 100px;
    height: 100px;
}

.circle{
    border-radius: 50%;
}

.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.fuchsia{
    background-color: fuchsia;
}
